body {

margin: 0;

font-family: Arial, sans-serif;

background: white;

color: black;

}

header {

text-align: center;

padding: 50px;

border-bottom: 1px solid #eee;

}

section {

padding: 40px;

max-width: 900px;

margin: auto;

}

h2 {

text-align: center;

}
